<head>
    <link rel="stylesheet" href="/stylesheets/new-edit.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  
<% layout('/layouts/boilerplate') %>



    
<div class="left-side"></div>
<section class="MainSection">
  
   <div class="right-side">
        <h2>Intra in cont</h2>
        <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Nume utilizator</label>
                <input class="form-control " type="text" id="username" name="username" autofocus required>
                <div class="valid-feedback">
                    Looks good!
                   </div>
            </div>
            
            
            <div class="mb-4">
            <label class="form-label" for="password">Parola</label>
            <input class="form-control " type="password" id="password" name="password" required>
            <div class="valid-feedback">
                Looks good!
               </div>
            </div>
            <button class="btn btn-success btn-block">Intră în cont</button>
            
            </form>
               
   </div>
</section>

                       
