<head>
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>



<footer class="footer mt-auto py-3" id="footer">
  <div id="logo2" class="mr-4 ml-4 ">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1725951527/Adimatech_logo_1_utu_1_cmbomq.svg" alt="Bootstrap" width="270" height="96" class="logo">
    </a>
  </div>

  <div class="footerLinks">
        <a class="link" href="/#Services" aria-current="page">Servicii </a>
        <a class="link" href="/#Projects" aria-current="page">Proiecte</a>
        <a class="link" href="/#Team" aria-current="page">Echipa</a>
        <a class="link" href="/#MakeAnAppoinment" aria-current="page">Programează-te</a>
   </div>

   <div class="footerInfo">
    
    <div class="contact">
      <h3 class="textInformation">Contactează-ne</h3>
      <h5 class="phone">07XX XXX XXX</h5>
      </div>

   <a class="textInformation" href="/program">Program &rarr;</a>
    <h3 class="textInformation">Locație &rarr;</h3>
</div>

    <!-- <div class="container text-center">
      <span class="text-muted">&copy; 2024 AdimaTech. All rights reserved.</span>
    </div> -->

  </footer>