
<head>
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">&copy; 2024 AdimaTech. All rights reserved.</span>
    </div>
  </footer>