<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <% layout('/layouts/boilerplate') %>
  
  <div class="media-container">
    <video class="responsive-video" autoplay loop muted playsinline>
      <source src="https://res.cloudinary.com/dn9nc0upp/video/upload/v1724835957/Untitled_nkqvyo.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <img class="responsive-image" src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1726121650/IMG_8556_lodnzd.jpg" alt="Responsive Image">
    <div class="OverVideoDiv">
       <h2>Text here</h2>
       <form action="/#MakeAnAppoinment">
        <button class="ProgrameazateButton">Programează-te aici<p class="ArrowButton">&rarr;</p></button>
       </form>
    </div>
    <div class="ButtonGroup">
        <form action="/"><button id="first" class="SelectButton">Program</button></form>
        <form action="/"><button id="second"class="SelectButton">Contact</button></form>
        <form action="/"><button id="third"class="SelectButton">Locatie</button></form>
    </div>

  </div>  


  <!-- /// HOW TO DO SERVICE PART https://www.youtube.com/watch?v=gv7d9KU36pM&ab_channel=DeeecodeTheWeb -->