<head>
    <link rel="stylesheet" href="/stylesheets/program.css">
</head>

<% layout('/layouts/boilerplate') %>


<div class="image-container">
    <img src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1726121650/IMG_8556_lodnzd.jpg" alt="Responsive Image">
    <h2 >Program</h2>
  </div>

<section class="container">
<div class="upperDiv mb-4">
<img src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1726125368/Vector_opiigw.svg" alt="" class="icon">
</div>
<div id="tabel" class="lower1Div">
    <div class="first">
        <h3>Luni - Vineri</h3>
        <div>
        <h4> 8:30 - 12:30</h4>
        <h4>13:30 - 17:30</h4>
        </div>
    </div>
    <div class="second">
        <img src="https://res.cloudinary.com/dn9nc0upp/image/upload/v1726126505/Line_5_eegm5k.svg" alt="" class="line">
    </div>
    <div class="third">
            <h3>Sambata-Duminica</h3>
            <h4>Inchis</h4>
    </div>
</div>


</section>





