@import url('https://fonts.cdnfonts.com/css/overused-grotesk');

#footer {
    background-color: #27354E;
    display: flex;
    flex-direction: row; 
    position: relative;
    bottom: 0px;
 margin-top: 100px !important;
}

.footerLinks{
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 60px;

}

.link {
    font-family: 'Overused Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: #EDEDED;
}

.footerInfo {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: #EDEDED;
    margin-top: 30px;
    padding-left: 30px;

}

.textInformation {
    font-family: 'Overused Grotesk', sans-serif;
    text-decoration: none;
    color: #EDEDED;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.contact{
    margin-bottom: 15px;
}

.phone {
 font-size: 20px;
 font-weight: 300;
 opacity: 50%;
 text-decoration: none;
 color: #ffffff;
}

#logo2 {
    margin-top: 30px;

}



/* MEDIA QUERIES */
@media(max-width:1000px){
   .footerLinks{
    padding-left: 30px;
   }

   .footerInfo{
    padding-left: 0px;
   }
}

@media(max-width:850px) {
    .footerLinks{
        padding-left: 20px;
        width: 222px;
       }
       #footer{
        justify-content: space-between;
       }

    .link{
        font-size: 22px;
    }

    .textInformation{
        font-size: 20px;
    }
    .footerInfo{
        width: 179px;
        height: 222px;
    }
    .logo{
      width: 200px;
      height: 87px;
    }
}


@media(max-width:650px) {
#footer{
    flex-wrap: wrap;
}
#logo2{
    order: 1;
}
.footerInfo{
    order: 2;
    height: 100px;
    margin-right: 30px;
}
.footerLinks{
    order: 3;
    height: 180px;
    margin-left: 30px;
}
.links{
    font-size: 19px;
}
}


@media(max-width:480px) {
    #footer{
        flex-wrap: wrap;
    }
    #logo2{
        order: 1;
    }
    .footerInfo{
        width: 140px;
        margin-right: 10px;
    }
    .textInformation{
        font-size: 17px;
    }
    .footerInfo{
        margin-top: 40px;
    }
    .phone{
        font-size: 15px;
    }
    .contact{
        margin-bottom: 0;
    }
    .footerLinks{
        order: 3;
        height: 180px;
        margin-left: 10px;
    }
    .link{
        font-size: 18px;
    }
    .logo{
        width: 159px;
        height: 78px;
    }
    }

    @media(max-width:376px) {
 
        #logo2{
         margin-right: 0 !important;
         margin-left: 0 !important;
        }
        }
    




