
@import url('https://fonts.cdnfonts.com/css/overused-grotesk');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



body {
    margin: 0;
    padding: 0;
    position: relative; /* Positioning context for the pseudo-element */
  }

  /* Pseudo-element for background image */
  body::before {
    content: '';
    position: fixed; /* Keep the image in place even when scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://res.cloudinary.com/dn9nc0upp/image/upload/v1726554292/A4_-_3_vrfxxe.svg');
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center center; /* Center the image */
    background-size: cover; /* Make the image cover the screen while maintaining aspect ratio */
    opacity: 0.3; /* Adjust opacity (0 is fully transparent, 1 is fully opaque) */
    z-index: -1; /* Ensure the image is behind the content */
}


.navbar{
    background-color: transparent;
    z-index: 2;
    position: absolute;
    width: 100%;
 
}

.meniuButton {
    background-color: transparent;
}

/* General styles for the media container */
.media-container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  
  /* Video styles for larger screens */
  .responsive-video {
    max-height: 950px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  /* Hide the image by default */
  .responsive-image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .OverVideoDiv{
    z-index: 2;
    bottom: 100px;
    left: 92px;
    position: absolute;
    width: auto;
    height: auto;
  }

  h2{
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 5px;
    color: #ffffff;
    
  
    /* text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.6); */
}


.ProgrameazateButton{
    border:none;
    background-color: #E43018;
    color: #ffffff;
    width: 250px;
    height: 50px;
    border-radius: 40px;
    font-family: 'Overused Grotesk', sans-serif;
    font-weight: 300;
    font-size: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-left: 15px;
  }

  .ArrowButton{
    background-color: #ffffff;
    color: #292929;
    width: 40px !important;
    height: 37px !important;
    border-radius: 40px;
    font-size: 24px;
   margin: 0 !important;
  }


  .ButtonGroup{
    z-index: 2;
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 50px;
    width: auto;
    height: auto;
    background-color: #ededed;
    border-radius: 40px;

  }

  .SelectButton{
    background-color: transparent;
    border: none;
    font-family: 'Overused Grotesk', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #292929;
    background-color: #ededed;
    width: 125px;
    height: 40px;
    transition: background-color 0.5s ease; /* Smooth transition for the background color */
  
  }
 #first{
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px;
  }
  #third{
    border-top-right-radius: 30px;
    border-bottom-right-radius:30px;
  }

  .SelectButton:hover{
    background-color: #27354E;
    color: #ffffff;
  }
 
.container{
  margin-top: 80px;
}
  .serviceCard{
    width: 100%;
    position: relative;
    margin-top: 100px;
    height: 650px;
    overflow-y: auto;

  }
 .ServiceCardTitleDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
 
 } 
 .ServiceCardTitleDiv h3{
  font-family: 'Outfit', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-right: 40px;
 }
 .ServiceCardTitleDiv img{
  width: 60px;
  height: 60px;
 align-self: center;
 background-color: #D9D9DB;
 border-radius: 30px;
 padding-left: 12px;
 padding-right: 12px;
 }

 .card{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #D9D9DB;
  border-radius: 20px;
  position: sticky;
  margin-bottom: 20px;
  top: 0;
  

 }



 .left-service-side{
  width: 50%;
  height: 100%;
 }

 .left-service-side img{
  width: 100%;
  height: 100%;
  overflow: hidden; 
  object-fit: cover; 
  border-top-left-radius:20px ;
  border-bottom-left-radius:20px ;
 }
 .right-service-side{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
 }

 .right-service-side p{
  font-family: 'Overused Grotesk', sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #292929;
 }

 .right-side-top{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 100px;
 }
 .right-side-top-title{
  text-decoration: none;
  font-family: 'Overused Grotesk', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #292929;
    align-self: center;
    transition: color 0.3s ease;
 }

 .right-side-top-title:hover{
  color: #29292989;
 }

 .right-side-top-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 }


 

   @media (max-width: 1200px){
     h2{
        font-size: 50px;
    }
    .ProgrameazateButton{
            width: 250px;
            height: 40px;
            font-size: 20px;
    }
    .ArrowButton {
        width: 37px !important;
        height: 37px !important;
    }
    .OverVideoDiv{
        bottom: 150px;
        left: 60px;
    }
    .right-side-top-title{
      font-size: 40px;
    }
    .right-service-side p{
      font-size: 19px;
    }
    .right-side-top-buttons{
      flex-direction: column;
    }
    .btn-warning{
      margin-bottom: 5px;
    }

   }

   @media (max-width: 1100px){
    .ButtonGroup{
        display: none;
    }
   .OverVideoDiv{
       bottom: 20px;
       left: 65px;
   }

  }

  @media (max-width: 1100px){
    h2{
        font-size: 40px;
    }
    .ProgrameazateButton {
        width: 225px;
        height: 37px;
        font-size: 17px;
    }
    .ArrowButton {
        width: 33px !important;
        height: 33px !important;
        font-size: 22px;
    }
  }

  @media (max-width: 991px){
    .serviceCard{
      height: 750px;
    }
.card{
  flex-direction: column;
  height: 700px;
  padding: 20px;
}
.left-service-side {
  width: 100%;
  height: 50%;
}
.left-service-side img{
border-radius: 20px;
}
.right-service-side {
  width: 100%;
  height: 50%;
  padding: 0px;
}
.right-service-side p{
  font-size: 18px;
}
.right-side-top{
  margin-bottom: 20px;
  margin-top: 20px;
}
.right-side-top-buttons{
  flex-direction: row;
}
.btn-warning{
  margin-bottom: 0px;
}
  }
  
  
  /* Media query for mobile devices (up to 768px width) */
  @media (max-width: 768px) {
    /* Hide the video and show the image */
    .responsive-video {
      display: none;
    }
  
    .responsive-image {
      display: block;
    }
    .OverVideoDiv{
        left: 45px;
    }
    .serviceCard{
      margin-top: 30px;
    }
    .ServiceCardTitleDiv img {
      width: 45px;
      height: 45px;
     
  }
    .ServiceCardTitleDiv h3{
      font-size: 40px;
    }
    .serviceCard{
      height: 650px;
    }
.card{
  flex-direction: column;
  height: 600px;
  padding: 20px;
}
.right-side-top-title {
  font-size: 35px;
}
.right-service-side p {
  font-size: 17px;
}
  }


  @media (max-width: 600px) {

    .OverVideoDiv{
        left: 25px;
    }
    h2 {
        font-size: 33px;
    }

    .ProgrameazateButton{
        height: 34px;
    }
    .ArrowButton {
        width: 33px !important;
        height: 31px !important;
        font-size: 22px;
    }
  }

  @media (max-width: 500px) {
    .serviceCard {
      height: 550px;
  }
    .card {
      flex-direction: column;
      height: 500px;
      padding: 10px;
  }
    .OverVideoDiv{
        left: 25px;
    }
    h2 {
        font-size: 30px;
    }
    .ProgrameazateButton {
        height: 35px;
         font-size: 15px;
         font-weight: 400;
         width: 200px;
         padding-right: 2px !important;
    }
    .ArrowButton {
        width: 33px !important;
        height: 31px !important;
        font-size: 21px;
    }
    .left-service-side {
      width: 100%;
      height: 45%;
  }
  .right-service-side {
    width: 100%;
    height: 55%;
    padding: 0px;
}
.card{
  flex-direction: column;
  padding: 10px;
}
  }


  @media (max-width: 400px) {

    .OverVideoDiv{
        left: 25px;
    }
    h2 {
        font-size: 27px;
    }
    .ProgrameazateButton {
        height: 35px;
         font-size: 15px;
         font-weight: 400;
         width: 200px;
         padding-right: 2px !important;
    }
    .ArrowButton {
        width: 33px !important;
        height: 31px !important;
        font-size: 21px;
    }
    
    .right-side-top-title {
      font-size: 30px;
  }
  }



  @media (max-width: 370px) {

    .right-side-top-buttons {
      flex-direction: column;
  }
  .btn-warning {
    margin-bottom: 5px;
}
  }