@import url('https://fonts.cdnfonts.com/css/overused-grotesk');


/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Pseudo-element for background image */
  body::before {
    content: '';
    position: fixed; /* Keep the image in place even when scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://res.cloudinary.com/dn9nc0upp/image/upload/v1726554292/A4_-_3_vrfxxe.svg');
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center center; /* Center the image */
    background-size: cover; /* Make the image cover the screen while maintaining aspect ratio */
    opacity: 0.5; /* Adjust opacity (0 is fully transparent, 1 is fully opaque) */
    z-index: -1; /* Ensure the image is behind the content */
}
  .container{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90%;
  }
  .TextSide{
    width: 100%;
    max-width: 700px;
    height: 850px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
  }
  /* Carousel wrapper */
  .image-side{
    width: 100%;
    max-width: 700px;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .carousel {
    width: 100%;
    max-width: 700px;
    height: auto;
    max-height: 700px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  
  /* Carousel container */
  .carousel-container {
    display: flex;
    transition: transform 0.8s ease-in-out; /* Smooth animation */
    width: 100%;
    max-width: 800px;
  }
  
  /* Each slide */
  .carousel-slide {
    width: 100%;
    flex-shrink: 0;
  }
  .image-carousel{
    width: 100%;   /* Define the width of the container */
    height: 100%;  /* Define the height of the container */
    overflow: hidden;  /* Hide the overflowing parts of the image */
    border-radius: 14px;
  }
  /* Images inside the slides */
  .carousel-slide img {
    width: 100%;    /* Ensure the image takes the full width of the container */
    height: 60%;   /* Ensure the image takes the full height */
    object-fit: cover;  /* Crops the image without distorting */
    border-radius: 14px;
  }
  
  /* Navigation Arrows */
.prev,.next {
    width: 80px;
    height: 80px;
    transform: translateY(-50%);
    background-color: #e2e2e2;
    color: #292929;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 32px;
    font-weight: 300;
  }


  .ArrowDiv{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  
/* Text side */

.PostName{
    font-family: 'Overused Grotesk', sans-serif;
    font-size: 70px;
    font-weight: 400;
    color: #292929;
    margin-top: 10px;
    margin-bottom: 150px;

}

.PostDescription{
    font-family: 'Overused Grotesk', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #292929;
    overflow-y: auto; 

}


@media(max-width:1700px){
  .image-side{
    max-width: 600px;
    height: 800px;
  }
  .carousel{
    max-width: 600px;
    max-height: 550px;
  }

  .TextSide{
    max-width: 600px;
    height: 730px;
  }
}


@media(max-width:1500px) {
  .PostName {
    font-family: 'Overused Grotesk', sans-serif;
    font-size: 60px;
    margin-bottom: 80px;
}
.carousel{
  max-width: 500px;
  max-height: 450px;
}
.image-side{
  max-width: 500px;
  height: 730px;
}
.TextSide{
  max-width: 500px;
  height: 630px;
}
.container{
  justify-content: space-around;
  max-width: 95%;
}
}

@media(max-width:1200px) {

.container{
  justify-content: space-around;
  max-width: 100%;
}


}


@media(max-width:1050px){
  .container{
    flex-direction: column;
    margin-top: 0px;
  }

  .carousel{
    max-width: 550px;
    max-height: 500px;
  }
  .image-side{
    max-width: 550px;
    height: 750px;
  }
  .TextSide{
    max-width: 550px;
    height: 600px;
  }
}




@media(max-width:600px){
  .PostName {
    font-family: 'Overused Grotesk', sans-serif;
    font-size: 55px;
    margin-bottom: 60px;
}
.container{
  max-width: 100%;;
}
.carousel{
  max-width: 400px;
  max-height: 450px;
}
.image-side{
  max-width: 400px;
  height: 500px;
  margin-top: 50px;

}
.prev,.next{
font-size: 26px;
width: 70px;
height: 70px;
}
.TextSide{
  max-width: 400px;
  height: 410px;
  margin-top: 30px;
}
.container{
  justify-content: space-around;
  max-width: 100%;
}
.PostName {
  font-family: 'Overused Grotesk', sans-serif;
  font-size: 50px;
  margin-bottom: 50px;
}

.PostDescription {

  font-size: 17px;

}
}

@media(max-width:420px){

  .PostName {
    font-family: 'Overused Grotesk', sans-serif;
    font-size: 55px;
    margin-bottom: 60px;
}
.links{
  height: 55%;
}
.container{
  max-width: 100%;;
}
.carousel{
  max-width: 340px;
  max-height: 400px;
}
.image-side{
  max-width: 340px;
  height: 400px;
  margin-top: 50px;

}
.prev,.next{
font-size: 26px;
width: 60px;
height: 60px;
}
.TextSide{
  max-width: 340px;
  height: 410px;
  margin-top: 30px;
}
.container{
  justify-content: space-around;
  max-width: 100%;
}
.PostName {
  font-family: 'Overused Grotesk', sans-serif;
  font-size: 40px;
  margin-bottom: 50px;
}
.PostDescription{
  font-size: 17px;
}
}