@import url('https://fonts.cdnfonts.com/css/overused-grotesk');

body {
    margin: 0;
    padding: 0;
  
    position: relative; /* Positioning context for the pseudo-element */
   
  }

  /* Pseudo-element for background image */
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180vh;
    background-image: url('https://res.cloudinary.com/dn9nc0upp/image/upload/v1726125106/A4_-_2_staga9.svg');
    background-repeat: repeat; /* Repeat the image */
    background-position: top left; /* Position the image */
    background-size: auto; /* Adjust size as needed */
    opacity: 0.5; /* Adjust opacity (0 is fully transparent, 1 is fully opaque) */
    z-index: -1; /* Make sure the image is behind the content */
  }
/* overwrite navbar css */
.navbar{
    background-color: transparent!important;
    z-index: 2;
    position: fixed;
    width: 100%;
}

.meniuButton{
    background-color: transparent;
}


  /* Container for the image */
  .image-container {
    width: 100%;
    height: 90%; /* Height is 90% of the viewport height */
    display: flex;
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
    overflow: hidden; /* Hide overflow */
    position: relative;
    z-index: 1;
  }

  /* Ensures the image maintains its aspect ratio */
  .image-container img {
    max-height: 950px ;
    height: 100%;
    width: 100%;
   
  } 



h2{
    font-family: 'Overused Grotesk', sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 5px;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    bottom: 60px;
    left: 92px;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.6);
}


section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 100%;
}

.upperDiv{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.icon{
    width: 54px;
    height: 54px;
}

.lower1Div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 300px;
}

h3{
    font-family: 'Overused Grotesk', sans-serif;
    font-size: 60px;
    font-weight: 300;
    color:#292929;
  
}

h4{
    font-family: 'Overused Grotesk', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color:#292929;
  
}


.second{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 300px;
    padding-left: 80px;
    padding-right: 80px;
}
.line{
    width: 156px;
    margin-top: 73px;
}


.third{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 38%;
    height: 240px;
   
}





@media(max-width:1400px){
    h3{
        font-size: 50px;
    }
    h4{
        font-size: 30px;
    }
}


@media(max-width:1200px){
    body::before{
        height: 150vh;
    }
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 30px;
    }
    .icon{
        width: 46px;
        height: 46px;
    }
}

@media(max-width:1000px){

    body::before{
        height: 120vh;
    }
    h2{
        font-size: 45px;
        bottom: 33px;
    left: 57px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 25px;
    }
    .upperDiv{
        height: 40px;
        margin-bottom: 10px !important;
    }
    .second{
        padding-right: 45px;
        padding-left: 0;
        margin-top: 5px;
    }
    .third{
        height: 250px;
    }
    .icon{
        width: 40px;
        height: 40px;
        
    }
}


@media(max-width:770px){

    body::before{
        height: 120vh;
    }
    .container{
      max-width: 90%;
    }
    h2{
        font-size: 40px;
        bottom: 33px;
        left: 57px;
    }

}

@media(max-width:740px){
   .lower1Div{
     height: 400px;
     flex-direction: column;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 25px;
    }
    .upperDiv{
        height: 40px;
        margin-bottom: 40px !important;
    }
    .first{
        width: 100%;
    }
    .second{
        padding-right: 162px;
        
        margin-top: 5px;
       
    }
    .line{
        width: 94px;
        rotate: 1 1 0 167deg;
    }
    .third{
        height: 250px;
        width: 100%;
    }
    .icon{
        width: 40px;
        height: 40px;
       
        
    }
}


@media(max-width:740px){
  
     h2{
         font-size: 33px;
         left:28px;
         bottom: 18px;
     }
 }
 
 
 @media(max-width:450px){

     h2{
         font-size: 30px;
     }
     h3{
         font-size: 25px;
     }
     h4{
         font-size: 20px;
     }
     .upperDiv{
         height: 40px;
         margin-bottom: 40px !important;
     }
     .first{
         width: 100%;
         height: 104px;
     }
     .second{
         padding-right: 162px;
         height: 104px;
         margin-top: 0px;
         margin-bottom: 10px;
        
     }
     .line{
         width: 80px;
         rotate: 1 1 0 167deg;
     }
     .third{
         height: 104px;
         width: 100%;
     }
     .icon{
         width: 35px;
         height: 35px;
       
        
         
     }
 }