<head>
    <link rel="stylesheet" href="/stylesheets/new-edit.css">
  </head>
  <% layout('/layouts/boilerplate') %>
  
  
      <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
          <div class="card shadow">
          <div class="card-body">
          <h2 class="text-center mb-4 text">New Service</h2>
          
  <form action="/services" method="POST" novalidate class="validated-form" enctype="multipart/form-data" >
      <div class=" mb-3">
       <label for="name" class="form-label text">Name of the service</label>
       <input type="text" name="name" id="name" class="form-control" placeholder="service name" autofocus required>
       <div class="valid-feedback">
        Looks good!
       </div>
      </div>
  
    
      <div class="mb-3">
        <div class="form-file custom-file">
            <input type="file" class="form-file-input" id="image" name="image" multiple required>
            <label class="form-file-label text" for="image">
                <span class="form-file-text custom-file-label">Choose image(s)...</span>
                <span class="form-file-button">Browse</span>
            </label>
        </div>
    </div>

         <div class="mb-3">
          <label class="form-label text" for="description">Description</label>
          <textarea class="form-control" name="description" id="description" aria-label="Description" rows="6"  required></textarea>
          <div class="valid-feedback">
            Looks good!
           </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-success btn-block">Add Service</button>
          </div>
  
  </form>
  
  
  </div>
  
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          bsCustomFileInput.init();
      });
  </script>