<head>
    <link rel="stylesheet" href="/stylesheets/new-edit.css">
  </head>
  <% layout('/layouts/boilerplate') %>
  
 <div class="left-side"></div>
 <section class="MainSection">
   
    <div class="right-side">
         <h2>Adaugă un serviciu</h2>

        <form action="/services" method="POST" novalidate class="validated-form" enctype="multipart/form-data" >
            <div class=" mb-3">
             <label for="name" class="form-label text">Titlu</label>
             <input type="text" name="name" id="name" class="form-control" autofocus required>
             <div class="valid-feedback">
              Looks good!
             </div>
            </div>
        
          
            <div class="mb-3">
              <div class="form-file custom-file">
                  <input type="file" class="form-file-input" id="image" name="image" multiple required>
                  <label class="form-file-label text" for="image">
                      <span class="form-file-text custom-file-label">Adaugă imagini</span>
                      <span class="form-file-button">Caută</span>
                  </label>
              </div>
          </div>
      
               <div class="mb-3">
                <label class="form-label text" for="description">Descriere</label>
                <textarea class="form-control" name="description" id="description" aria-label="Description" rows="6" maxlength="1500"  required></textarea>
                <div class="valid-feedback">
                  Looks good!
                 </div>
              </div>
              <div class="mb-3">
                <button class="btn btn-success btn-block">Adaugă</button>
                </div>
        
        </form>
    </div>
 </section>


 <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
 <script>
     document.addEventListener('DOMContentLoaded', function () {
         bsCustomFileInput.init();
     });
 </script>