<head>
    <link rel="stylesheet" href="/stylesheets/new-edit.css">
    <link rel="stylesheet" href="/stylesheets/newCar.css">
  </head>
  
<% layout('/layouts/boilerplate') %>



  
<div class="left-side"></div>
<section class="MainSection">
  
   <div class="right-side">
        <h2>Adaugă o mașină</h2>
        <form action="/cars" method="POST" class="validated-form" novalidate>
            <div class=" mb-3">
                <label for="model" class="form-label"> Model</label>
                <input type="text" name="model" id="model" class="form-control"required>
                <div class="valid-feedback">
                 Looks good!
                </div>
               </div>
            
               <div class=" mb-3">
                <label for="plate" class="form-label">Număr de înmatriculare</label>
                <input type="text" name="plate" id="plate" class="form-control" required>
                <div class="valid-feedback">
                 Looks good!
                </div>
               </div>
               
            
               <div class=" mb-3">
                <label for="owner" class="form-label">Proprietar</label>
                <input type="text" name="owner" id="owner" class="form-control" required>
                <div class="valid-feedback">
                 Looks good!
                </div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Telefon</label>
                    <input type="text" name="phone" id="phone" class="form-control" required>
                    <div class="valid-feedback">
                     Looks good!
                    </div>
                <div class=" mt-3 mb-3">
                    <label for="status" class="form-label">Status mașină</label>
                    <select id="status" name="status" class="form-control" aria-label="Default select example">
                        <%for(let stat of status){  %>
                            <option value="<%= stat %>"><%= stat %></option>
                            <% } %>
                    </select>
                </div>
            
               </div>
            <button class="btn btn-success btn-block">Adaugă</button>
            
            </form>
   </div>
</section>

                   

   



<script>
    // Attach a submit event listener to the form
    document.querySelector('form').addEventListener('submit', function() {
        // Convert the plate input value to uppercase before submitting the form
        const plateInput = document.getElementById('plate');
        plateInput.value = plateInput.value.toUpperCase();
    });
</script>